.Player{
    display: inline-block;
    border: 1px, solid,gray;
    width: 33%;
    /* background-color: red; */
    margin: 20px 20px 20px 20px;
    text-align: center;
}

#isActive{
    background-color: blue;
}

.player1{
    background-color: aqua;
}

.player2{
    background-color: black;
}


.switch-off {
  background-color: #f9314d;
}
.switch-on {
  background-color: #1bae61;
}

.light-off {
  background-color: black;
}
.light-on {
  background-color: white;
}