.App {
  text-align: center;
  background-color: darkgray;
  /* height: 100% ; */
}
html {
  background-color: black;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .Player{
    display: inline-block;
    border: 1px, solid,gray;
    width: 33%;
    background-color: red;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

#isActive{
    background-color: blue;
}

#player1{
    background-color: aqua;
}

#player2{
    background-color: black;
}

.square {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-top:30px;
  padding-top: 30px;
  background-color: lightgray;
  color: white;
}
.switch-off {
  background-color: #f9314d;
}
.switch-on {
  background-color: #1bae61;
}
.bg-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: background-color .5s ease;
}
.light-off {
  background-color: black;
}
.light-on {
  background-color: white;
} */